layout {
	pane size=1 borderless=true {
        plugin location="tab-bar"
    }
    pane split_direction="Vertical" {
        pane size="15%" {
            plugin location="strider"
        }
        pane split_direction="Horizontal" {
        	pane command="hx" size="80%" focus=true
        	pane command="cargo" {
        		args "run" "--" "lsp"
        	}
        }
    }
    pane size=2 borderless=true {
        plugin location="status-bar"
    }
}
